extends layout

block content
    h1 DONDE IT - Look for a dress

    h2 Question 1

    form(action='', method='POST')
            p Search Keyword:
            input(type='hidden' , name='node', value=node)
            input(type='text', name='keyword', placeholder='Keyword', required)
            input(type='submit', value='Donde')
    
    if (typeof(results) !== 'undefined')
        p got #{count} number of dresses :
        div
          table
             thead
                tr: th DRESSES
             tbody
                each result in results
                   tr
                      td 
                          p #{result.matching_properties}
                      td
                          for item in result.items
                             \\img(src="http://#{item.data.pic}") 
                             p  #{item.data.pic}


    
