extends layout

block content
    h1 DONDE IT - Look for a dress

    h2 Question #{index+1}

    form(action='', method='POST')
            
            input(type='hidden' , name='node', value=node)
            input(type='hidden' , name='index', value=index)
            p #{question}
            each val in q_values
                input(type="checkbox", name="#{val}")
                label(for='#{val}') #{val}
                br
            
            input(type='submit', value='Donde')
    
    if (typeof(results) !== 'undefined')
        p got #{count} dresses :
        div
          table
             thead
                tr: th DRESSES
             tbody
                each result in results
                   tr
                      td 
                          p #{result.matching_properties}
                      td
                          for item in result.items
                             
                             p  #{item.data.name}
                        

    
