extends layout

block content
    h1 Items
    p
        a(href='./') Back to homepage
        
    form(action='', method='POST')
        for cat in properties
            p #{cat.cat}: 
                select(name='#{cat.cat}')
                    option(value='')
                    for pr in cat.properties
                        option(value='#{pr}', selected=pr==defaults[cat.cat]) #{pr}
        input(type='submit', value='filter')
                
    if items.length
        p Here are the current items:
        ul.items
            for item in items
                li.item
                    a(href='/items/#{item.id}') #{item.name}
    else
        p There are no items currently.

