extends layout

block content
    h1 #{item.name}
    img(src='http://#{pic}')//-, height='400', width='300')
    
    
    p item description : #{desc}

    p
        a(href='/items') Back to everyone

    //ITEM Properties
    if properties.length
        p #{item.name} has #{properties.length} properties:
        // TODO should say 'user' if only one! ;)
        ul.properties
            for other in properties
                li.property
                    form(action='/items/#{item.id}/rmproperty', method='POST')
                        a(href='/item_properties/#{other.id}') #{other.name}
                        input(type='hidden', name='property[id]', value='#{other.id}')
                        input(type='submit', class='rmproperty', value='x')
    else
        p #{item.name} has no properties.

    if other_prs.length
        form(action='/items/#{item.id}/addproperty', method='POST')
            p Add a property for #{item.name}:
            label
                select(name='property[id]', required)
                    option(value='')
                    for other in other_prs
                        option(value='#{other.id}') #{other.name}
            input(type='submit', value='Add Property')
    else
        p There's no other properties left!


    form(action='/items/#{item.id}', method='POST')
        p Edit this item:
        input(type='text', name='name', placeholder='#{item.name}', required)
        input(type='submit', value='Update')

    form(action='/items/#{item.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete item')
